.chat-window {
  overflow-y: scroll;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.message-content {
  max-width: 70%;
  width: fit-content;
  border-radius: 15px;
  padding: 10px;
  margin: 0.5rem 0;
}

.message-content.bg-primary {
  color: white;
}

.wrapper {
  position: relative;
  height: calc(100vh - 72px - 2rem);
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}


.input-group {
  display: flex;
  gap: 0.5rem; /* Adjust gap as needed */
}

.message {
  &:hover .edit-icons {
    display: flex;

    button {
      display: grid;
      place-content: center;
    }
  }
}

.edit-icons {
  display: none;
}
