.chat-window {
  overflow-y: scroll;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.message-content {
  max-width: 70%;
  width: fit-content;
  border-radius: 15px;
  padding: 10px;
  margin: 0.5rem 0;
}

.bg-primary {
  background-color: #007bff; /* Example primary color */
  color: white;
}

.bg-light {
  background-color: #f8f9fa; /* Example light color */
}

.wrapper {
  position: relative;
  height: calc(100vh - 72px - 2rem);
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}


.input-group {
  display: flex;
  gap: 0.5rem; /* Adjust gap as needed */
}
